.lista-filmes{
  max-width: 800px;
  margin: 14px auto;  

  article{
    width: 100%;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    display: block;

    img{
      max-width: 100%;
      height: 400px;
      width: 900px;
      object-fit: cover;
      display: block;
    }

    strong{
      margin-bottom: 14px;
      text-align: center;
      font-size: 22px;
    }

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      background: #007510;
      text-decoration: none;
      color: #f9f9f9;

      &&:hover{
        background-color: #00a015;
      }
    } 
  }  
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
}